  .account-details-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      sans-serif;
    justify-content: space-between;
  }

  .button-group {
    margin-top: 96px;
  }

  .left-section {
    width: 700px;
  }

  .right-section {
    margin-right: 30px;
  }

  .tab-navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 90%;
  }

  .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    transition: all 0.2s ease;
    font-size: 18px;
    font-weight: 600;
    color: #ccc;
  }

  .tab-item.active {
    background-color: #ffecfd;
    border-bottom-color: #7a147a;
    color: #7a147a;
  }

  .tab-item.inactive {
    background-color: #ebe8e8;
    color: #999;
  }

  .form-label {
    font-size: 17px;
    margin-top: 80px;
  }

  .form-input {
    width: 100%;
    height: 55px;
  }

  .form-input:focus {
    border: 1px solid white;
  }

  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .account-details-container {
      flex-direction: column;
    }

    .left-section {
      width: 100%;
      margin-bottom: 20px;
    }

    .right-section {
      margin-right: 0;
      width: 100%;
      margin-top: 20px;
    }

    .button-group {
      margin-top: 20px;
    }
  }

  @media (max-width: 768px) {
    .tab-item {
      font-size: 16px;
      padding: 0.8rem;
    }

    .form-label {
      font-size: 16px;
      margin-top: 60px;
    }

    .form-input {
      height: 50px;
    }

    .button-group button {
      width: 100%;
      height: 50px;
      font-size: 16px;
    }

    .account-details-container {
      flex-direction: column;
    }

    .left-section,
    .right-section {
      width: 100%;
    }

    .right-section {
      order: 2; /* Move the right section below for small screens */
    }
  }

  @media (max-width: 480px) {
    .tab-item {
      font-size: 14px;
    }

    .form-label {
      font-size: 14px;
    }

    .form-input {
      height: 45px;
    }

    .button-group button {
      width: 100%;
      height: 45px;
      font-size: 14px;
    }
  }